/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Beginning of custom code */
body {
  width: 700px;
  margin: 0 auto;
}
body .header {
  background-color: #3BCCA8;
  color: white;
  height: 100vh;
  margin: 0 auto;
}
body .header .header-content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}
body .header .header-content h1 {
  margin: 0 auto;
  font-size: 3rem;
}
body .header .header-content .img-section-1 {
  display: flex;
  height: 40%;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
body .header .header-content .top-nav-links {
  display: flex;
  justify-content: space-between;
}
body .header .header-content img {
  height: auto;
  width: 30%;
}
body .header .header-content h3 {
  display: flex;
  align-items: center;
  text-align: right;
}
body .header .header-content a {
  color: white;
  text-decoration: none;
}
body .text {
  display: flex;
  align-items: center;
  height: 100vh;
}
body .content-1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
body .content-1 p {
  border: 5px solid #3BCCA8;
  height: auto;
  padding: 10px;
}
body .content-1 img {
  width: auto;
  height: 300px;
}
body .content-2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .content-2 p {
  border: 5px solid #3BCCA8;
  height: auto;
  padding: 10px;
}
body .content-2 img {
  width: auto;
  height: 300px;
}
body .content-3 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .content-3 .upper-box {
  width: 220px;
}
body .content-3 .text-content {
  border: 5px solid #3BCCA8;
  height: auto;
  width: auto;
  padding: 10px;
  align-items: center;
}
body .content-3 img {
  width: auto;
  height: 300px;
}
